.mainfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("/assets/bg-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(167, 0, 130);
  transition: all 0.8s ease-in-out;
}
.mainnotfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("/assets/bg-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: wheat;
  transition: all 0.8s ease-out;
}
